<div class="interactive-wrapper">
   
 <h2>NBA Free Agency Player Tracker</h2>
	<div id="table-one" class='nba-table'>
 		<div class='trackerHeader tableHeadings'>
					<div class='trackerColumn'>Player</div>
					<div class='trackerColumn'>Free Agency Rank</div>
					<div class='trackerColumn'>Old Team</div>
					<div class='trackerColumn'>Age</div>
					<div class='trackerColumn'>Contract Status</div>
					<div class='trackerColumn'>Latest</div>
					<div class='trackerColumn'>New Team</div>
		</div>
		
		{{#sheet1}}

			<div class='trackerRow'>
				<div class='trackerColumn'>{{Player}}</div>
		    	<div class='trackerColumn numbers'>{{FA_Rank}}</div>
		    	<div class='trackerColumn'>{{Old_Team}}</div>
		    	<div class='trackerColumn numbers'>{{Age}}</div>
		    	<div class='trackerColumn'>{{Contract_Status}}</div>
		    	<div class='trackerColumn'>{{{News}}}</div>
		    	<div class='trackerColumn'>{{New_Team}}</div>
			</div>

		{{/sheet1}}

</div>

<div class="guardian-button" id="table-one-button">
Show all
</div>

<br>

  <h2>NBA Free Agency Team Salary Tracker</h2>
  	<div class='nba-table'>
	<div class='trackerHeader'>
		<div class='trackerRow tableHeadings'>
				<div class='trackerColumn'>Team</div>
				<div class='trackerColumn'>Players Signed</div>
				<div class='trackerColumn'>Free Agents</div>
				<div class='trackerColumn'>Active Salary</div>
				<div class='trackerColumn'>Cap Room</div>
		</div>
	

		{{#sheet2}}
			<div class='trackerRow'>
				<div class='trackerColumn'>{{Team}}</div>
		    	<div class='trackerColumn'>{{Players_Signed}}</div>
		    	<div class='trackerColumn'>{{Free_Agents}}</div>
		    	<div class='trackerColumn'>{{Active_Salary}}</div>
		    	<div class='trackerColumn'>{{Cap_Room}}</div>
			</div>

		{{/sheet2}}
	</div>	
	</div>
</div>



			  